
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    z-index: 4;
}

.pop-up.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #1A1313;
    position: relative;
    z-index: 2;
}

body {
    background-color: black
    
}
nav ul {
    display: flex;
    font-size: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.header-container a {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 50px;
}

.header-container a:first-child {
    border-right: solid 6px white;
}

.header-container a::after {
    cursor: pointer;
    content: '';
    width: 0%;
    height: 5px;
    background-color: white;
    display: block;
    transition: 0.3s;
}

.header-container a:hover::after {
    cursor: pointer;
    content: '';
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
}

.header-container a.active::after {
    cursor: pointer;
    content: '';
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
}

.paint-container {
    position: relative;
    width: 100%;
    padding: 200px 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 25%;
    filter: blur(8px);

}

.paint-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.paint-content img {
    cursor: pointer;
    box-shadow: 0 0 20px 0 #fff;
    width: 530px;
    height: 671px;
    z-index: 1;
    transition: 0.4s;
}

.paint-content img:hover {
    transform: scale(1.2);
}

.content-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
    margin: 50px 0;
}

.text h2 {
    font-size: 72px;
    text-align: left;
    margin-bottom: 30px;
    width: 760px;
    padding-left: 20px;
    border-left: solid 10px white;
}

.text p {
    font-size: 28px;
    text-align: justify;
}

.content-container button {
    margin-top: 60px;
    font-size: 32px;
    border-radius: 20px;
    background-color: #FFF;
    color: black;
    padding: 10px 30px;
    transition: 0.2s;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.content-container button:hover {
    background-color: gray;
    color: white;
}

.content-container button:active {
    transform: scale(0.9);
}

.paint-content.reverse {
    flex-direction: row-reverse; 
}

.paint-content.reverse h2 {
    text-align: right;
    border-left: none;
    border-right: solid 10px white;
    padding-right: 20px;
    padding-left: 0;
}

.paint-content.reverse p {
    text-align-last: right;
}

.pop-up-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-container {
    width: 80%;
    height: 80%;
    background: #d4ccca;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pop-up-content p {
    font-size: 22px;
    margin: 40px 110px;
}

.pop-up-content h1 {
    text-align: center;
    font-size: 60px;
    margin: 40px 0;
}

.pop-up-container button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 30px;
    padding: 20px;
    border: none;
    width: 30px;
    height: 30px;
}

.hidden {
    display: none;
}

.close-button {
    background-image: url("images/cross.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: unset;
}